﻿@{
    ViewBag.Title = "Contact";
}
<div class="row">
    <div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Bize E-Posta Yazın</h4>
        </div>
        <div class="panel-body">
            <div col-md-12>
                <div class="contact-form">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Adınız Soyadınız: *</label>
                        <input id="adsoyad" type="text" name="name" class="form-control" placeholder="Adınız Soyadınız *">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Mail Adresiniz: *</label>
                        <input id="eposta" type="text" name="name" class="form-control" placeholder="Eposta Adresiniz *">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Mesajınız: *</label>
                        @Html.TextArea("Mesaj", null, new { @class = "form-control", placeholder = "Mesajınız", rows = 6, columns = 40 })
                    </div>
                    <div class="form-group">
                        <button type="submit" class="col-sm-offset-4 btn btn-primary">Gönder</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>İletişim Bilgilerimiz</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <address>
                        Adresimiz:           Bayrampaşa/İSTANBUL<br /><br />
                        Çalışma Saatlerimiz: 09.00 - 18.00<br /><br />
                        Telefon:             (0212) 111 11 11<br /><br />
                        Fax:                 xxxx xxx xx xx<br />
                    </address>
                </div>
            </div>
        </div>
    </div>
</div>