﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hobium</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/style1.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <b>@Html.ActionLink("HOBIUM", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</b>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Anasayfa", "Index", "Home")</li>
                    <li>@Html.ActionLink("Hakkımızda", "About", "Home")</li>
                    <li>@Html.ActionLink("Hobiye Dair Tüm Kategoriler", "Kategories", "Home")</li>
                    <li>@Html.ActionLink("Blog", "Blog", "Home")</li>
                    <li>@Html.ActionLink("İletişim", "Contact", "Home")</li>
                </ul>
                <div class="nav navbar-nav navbar-right col-md-5">

                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Ara</button>
                            </span>
                            <input type="text" class="form-control" placeholder="Arama...">
                        </div>
                    </div>

                    <div class="col-md-1">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">TR <span class="caret"></span></button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">EN</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-5">
                        @Html.Partial("_LoginPartial")
                    </div>

                    <div class="col-md-2">
                        <button class="btn-danger"><span class="glyphicon glyphicon-shopping-cart"></span> Sepet</button>
                    </div>


                </div>
                
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sosyal Medyada da bizi takip edin !</p>
           
                <div class="nav navbar-right">
                    <a href="#"><img src="~/Content/resimler/facebook.png" /></a>
                    <a href="#"><img src="~/Content/resimler/pinterest.png" /></a>
                    <a href="#"><img src="~/Content/resimler/twitter.png" /></a>
                    <a href="#"><img src="~/Content/resimler/instagram.png" /></a>
                    <a href="#"><img src="~/Content/resimler/youtube.png" /></a>
                    <a href="#"><img src="~/Content/resimler/google.png" /></a>
                </div>
          

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
